[MAIN]
max-line-length=160

[MESSAGES CONTROL]
# C0116: allow functions/class methods without a docstring
# C0301: black takes care of the formatting
# R0903: generates too much noise for model classes
disable=C0116, C0301, R0903
